<h1>Admin::Posts#index</h1>
<p>Find me in app/views/admin/posts/index.html.erb</p>
<%#if post.image.attached? %>
  <%#image_tag image,size: "200x200" %>
<%#else %>
  <%#=image_tag "user",size: "200x200" %>
<%# end %>