<div class="top-image jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <p class="col h3 d-flex justify-content-center font-weight-bold top-title">
        麺多listへようこそ<br>
      </p>
    </div>
    <div class="row">
      <p class="col h3 d-flex justify-content-center font-weight-bold top-title">
        イチオシを見つけましょう！
      </p>
    </div>
  </div>
</div>
<p class="text-center">新着の投稿</p>
<%= render 'posts/post_list',posts: @posts,menber: @menber %>