<div class="top-image jumbotron jumbotron-fluid mb-1">
  <div class="container">
    <div class="row">
      <p class="col h3 d-flex justify-content-center font-weight-bold top-title">
        麺多listへようこそ<br>
      </p>
    </div>
    <div class="row">
      <p class="col h3 d-flex justify-content-center font-weight-bold top-title">
        イチオシを見つけましょう！
      </p>
    </div>
  </div>
</div>

<div class="row h5 d-flex justify-content-center">新しい投稿</div>

<!--PC表示-->
  <div class="d-none d-md-block">
    <%= render 'posts/pc_top',posts: @posts %>
  </div>



