<div class="top-image jumbotron jumbotron-fluid mb-1">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <p class="top-title bg-warning ">
        Welcome to <br>
      </p>
    </div>
    <div class="row d-flex justify-content-center">
      <p class="top-title  bg-warning ">
        麺多list
      </p>
    </div>
  </div>
</div>

<!--PC,モニター表示-->
<div class="d-none d-lg-block">
  <%= render 'posts/pc_top',posts: @posts %>
</div>

<div class="d-lg-none d-block">
  <%= render 'posts/post_list',posts: @posts %>
</div>



