<div class="container-fluid">
  <div class="img-fluid card">
    <%=image_tag "top_page",width: "100%",height: "50%" %>
     <p class="card-img-overlay h4 text-center text-white d-flex align-items-center justify-content-center">
       ようこそ麺Listへ<br>
       ラーメンのレビューサイトになります。
     </p>
  </div>
</div>