/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.card-img {
  position: relative;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 50px;
  left: 0;
  padding: 1.25rem;
}

.strftime {
  font-size: small
}

/* ページTOPに戻る */
/*// ボタンの配置場所*/
/*.pagetop{*/
/*    display: block;*/
/*    position: fixed;*/
/*    right: 20px;*/
/*    bottom: 50px;*/
/*}*/
/*// ボタンのデザイン*/
/*.pagetop a{*/
/*    display: block;*/
/*    font-size: 0;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    text-align: center;*/
/*    background: gray;*/
/*    border-radius: 50%;*/
/*    line-height: 50px;*/
/*}*/
/*// アイコンのデザイン*/
/*.pagetop a i{*/
/*    font-size: 20px;*/
/*    color:#fff;*/
/*    line-height: 50px;*/
/*}*/

.p-scroll {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.p-scroll a {
  text-align: center;
  text-decoration: none;
  background: #99FFFF;
  color: #fff;
  padding: 30px;
}
.p-scroll a:hover {
  background: #33FFFF;
}